.catalog {
  font-family: $font-title;
  background-color: #F8F8F8;
}

.catalog__badge {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859CF;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  margin-bottom: 4px;
}

.catalog__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }
}

.catalog__filter-container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 728px;
    margin: 0 auto;
  }
}

.filter-price__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 20px;
  display: block;
}

.filter-price__range {
  position: relative;
  height: 4px;
  margin-bottom: 94px;
  background-color: #E2E2E2;
  border-radius: 2px;
}

.filter-price__range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 24px;
  background-color: #E2E2E2;
  border-radius: 2px;
}

.filter-price__range-bar {
  width: 200px;
  position: absolute;
  height: 4px;
  background-color: #7859CF;
}

.filter-price__range-toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 2px solid #7859CF;
  border-radius: 50%;
  cursor: pointer;
}

/* .filter-price__range-toggle:hover {
  background-color: #dbb590;
}

.filter-price__range-toggle:active,
.filter-price__range-toggle:focus {
  outline: 3px solid #dbb590;
} */

.filter-price__toggle-min {
  top: -11px;
  left: 0;
}

.filter-price__toggle-max {
  top: -11px;
  left: 200px;
}

.filter-price__range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.ilter-price__label {
  display: flex;
  margin-right: 5px;
}

.filter-price__range-field {
  display: block;
  max-width: 118px;
  box-sizing: border-box;
  padding: 8px 10px;
  font-family: $font-title;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #7859CF;
  border-radius: 4px;
  appearance: textfield;

  @media (min-width: $tablet-width) {
    max-width: 87px;
  }

}

/* .filter-price__range-field::-webkit-outer-spin-button,
.filter-price__range-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
} */


// Фильтр наличия молока

.catalog__form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    column-gap: 30px;
  }
}

.catalog__group {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.filter-milk__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.filter-milk__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-milk__item {
  margin-bottom: 20px;
}

.filter-milk__radio {
  display: flex;
  column-gap: 10px;
}

.radio__custom {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 2px solid #BDBDBD;
  position: relative;
}

.radio__field:checked + .radio__custom::before {
  outline: 2px solid #7859CF;
  outline-offset: 4px;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #7859CF;
  top: 15%;
  left: 19%;
  border-radius: 50%;
}

.radio__custom:disabled + .radio__name {
  opacity: 0.5; /* НЕ РАБОТАЕТ */
}

.radio__name{
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.radio__field {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* СТРАНА ПРОИЗРАСТАНИЯ */

.filter-country__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.filter-country__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-country__item {
  margin-bottom: 20px;
}

.filter-country__checkbox {
  display: flex;
  column-gap: 10px;
}

.checkbox__custom {
  display: block;
  width: 42px;
  height: 24px;
  border-radius: 12px;
  background-color: #BDBDBD;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    top: 2px;
    left: 3px;
    border-radius: 50%;
  }


}

.checkbox__field:checked + .checkbox__custom {
  background-color: #7859CF;
}

.checkbox__field:checked + .checkbox__custom::before {
  transform: translateX(17px);
  transition: 0.5s;
}

.checkbox__custom:disabled + checkbox {
  opacity: 0.5; /* НЕ РАБОТАЕТ */
}

.checkbox__name{
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.checkbox__field {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog__button-container {
  @media (min-width: $tablet-width) {
   display: flex;
   width: 277px;
   justify-content: space-between;
   margin: 0 auto;
   grid-column: 2/3;
  }
}

.catalog__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  padding: 8px 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: fit-content;
    padding: 8px 20px;
  }
}

/* КАТАЛОГ */

.catalog-container {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 728px;

  }
}

.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 728px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 349px);
    margin: 0 auto;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1011px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 317px);
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

.card__item {
  width: 280px;
  margin: 0 auto;
  background-color: #FFFFFF;
  font-family: $font-title;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 4px;
}

.card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 16px;
}

.card__image {
  display: block;
  margin: 0 auto;
  padding: 40px 0 24px 0;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  padding:16px 20px 20px 20px;
}

.card__buy {
  padding: 8px 20px 8px 46px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 15px;
    width: 20px;
    height: 16px;
    background-image: url("../img/basket.svg");
  }
}

.card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}
