.contacts {
  font-family: $font-title;
}

/* .contacts__address {

}

.contacts__link {

} */

.contacts__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7859CF;
  margin: 0;
  margin-bottom: 12px;
}
