.footer {
  font-family: $font-title;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 728px;
  }
}

.footer__wrapper {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer__author {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #BDBDBD;
}

.footer__author-link {
  text-decoration: none;
  color: #BDBDBD;
}
