.pagination {
  min-width: 280px;
  padding: 0 20px;
  padding-bottom: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 728px;
    padding-bottom: 90px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    padding: 0 40px;

    padding-bottom: 90px;
  }
}

.pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 400px;
    margin-left: auto;
  }
}


.pagination__item--next .pagination__link,
.pagination__item--back .pagination__link {
  &::before {
    content: "";

    min-width: 5px;
    min-height: 5px;
    border-top: 2px solid #7859cf;
    border-right: 2px solid #7859cf;


    @media (min-width: $tablet-width) {
      border: none;
      min-width: 100px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &:hover,
  &:focus {
    &::before {
      border-top-color: inherit;
      border-right-color: inherit;

      @media (min-width: $tablet-width) {
        border: none;
      }
    }
  }
}

.pagination__item--next .pagination__link {
  &::before {
    transform: rotate(45deg);

    @media (min-width: $tablet-width) {
      content: "Вперёд";
      transform: none;
    }
  }
}

.pagination__item--back .pagination__link {
  &::before {
    transform: rotate(-135deg);

    @media (min-width: $tablet-width) {
      content: "Назад";
      transform: none;
    }
  }
}

.pagination__link.button--disabled {
  &::before {
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
  }
}

.pagination__link {
  display: inline-flex;
  min-width: 40px;
  height: 40px;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: #7859cf;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  background-color: #FFFFFF;

  &--current {
    background-color: transparent;
    color: #333333;

    /* @media (min-width: $tablet-width) {
      margin: 0 20px;
    } */

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: #333333;
      cursor: default;
    }
  }
}
